<div class="nav-bar">
  <div class="nav-bar__logo">
    <img src="./svg/logo_small.svg" />
  </div>
  <div class="nav-bar__menu">
    <div class="nav-bar__menu_store">
      <button
        class="nav-button"
        routerLink="/"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        Home
      </button>
      <button
        class="nav-button"
        routerLink="/steam"
        routerLinkActive="active"
      >
        Steam
      </button>
      <button
        class="nav-button"
        routerLink="/playstation"
        routerLinkActive="active"
      >
        Playstation
      </button>
      <button
        class="nav-button"
        routerLink="/nintendo-switch"
        routerLinkActive="active"
      >
        Nintendo Switch
      </button>
    </div>
    <img src="./svg/logo_icon.svg" width="24px" height="24px" />
    <div class="nav-bar__menu_account">
      <span class="nav-bar__menu_account_name">LOGIN AS PUNPUNPUNNAWAT</span>
      <div class="nav-bar__menu_account_button">
        <button
          class="nav-button"
          routerLink="/my-keys"
          routerLinkActive="active"
        >
          My Keys
        </button>
        <button class="nav-button" routerLink="/login">Logout</button>
      </div>
    </div>
  </div>
</div>
