<div class="game-card">
    <div class="game-card__discount">discount</div>
  <div class="game-card__thumbnail">thumbnail</div>
  <div class="game-card__label">
    <img src="./svg/steam.svg" width="24" height="24" />
    <label>NIGHTREIGN</label>
  </div>
  <div class="game-card__detail">
    <div class="game-card__detail_price">
      <p class="game-card__detail_price_before">1,000 Baht</p>
      <p class="game-card__detail_price_after">800 Baht</p>
    </div>
    <div class="game-card__detail_button">
      <button class="game-card__detail_button_add">ADD</button>
      <button class="game-card__detail_button_buy">BUY</button>
    </div>
  </div>
</div>
